/fatakenv
db.sqlite3
*.db
*.pyc
*.pyo
web/docs/*
/.svn/
/bin/
/local/
/include/
/lib/
/media/
digikosh/media/*
web/src/pages/templates/pages/email-blueprints/*
web/src/pages/templates/email-blueprints/.git/*
fatakpay_cms/local_settings.py
*.pyc
media/*
*Lib*
*Include*
*.git/
*.pem
/.Python
/.project
/.pydevproject
*.serverinfo
*.DS_Store
staticfiles/
/static/
digikosh/static/*
*.idea*
*pygraphviz*
*.exe
/script.sh
build/
*.log
*.egg-info
*.egg
*robots.txt
install/
venv/
env/
env_fatak/
newrelic.ini
*.pyc
pyvenv.cfg
